@import '@/theme/shared.scss';

.form {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.link {
  color: $headingMainColor !important;
  font-weight: 700;
  margin-bottom: 2rem;
}

.forgetLink {
  text-decoration: none;
  display: block;
  color: $headingMainColor;
  font-weight: 700;
  margin-bottom: 2rem;
  margin-inline-start: auto;
  width: fit-content;

  &:hover {
    text-decoration: underline;
  }
}

.logo {
  margin-bottom: 20px;
}
