.ant-select {
  width: 100%;
  height: 66px;

  .ant-select-selector {
    border-radius: $mainBorderRadius !important;
    background-color: rgba(#fff, 0.09) !important;
    border-color: transparent !important;
    padding: 0 !important;
  }

  .anticon {
    content: url('@/assets/images/shapes/arrow_down.svg');
  }

  .anticon {
    margin-inline-end: 1.5rem;
  }

  .ant-select-selection-item,
  .ant-select-selection-placeholder {
    padding-inline-start: 2.9rem !important;
    color: #fff !important;
    font-size: 1.6rem;
    font-weight: 700;
  }

  &.smallPlaceholder {
    .ant-select-selection-placeholder {
      font-size: 1.3rem;
    }
  }
}

.ant-select-item-option-selected {
  color: #fff !important;
  background-color: $primaryColor !important;
}
