@import '@/theme/shared.scss';

.submitWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
}

.prevAndSubmitWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
