@import '@/theme/shared.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.contact {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.imageWrapper {
  position: relative;

  figure {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
  }
}

.status {
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: $greyColor;
  border: 2px solid $secondaryColor;
  top: calc(100% - 0.5rem);
  left: 50%;
  transform: translateX(-50%);

  &.online {
    background-color: $greenColor;
  }
}

.name {
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 0.5rem;
}

.date {
  font-size: 1.3rem;
  font-weight: 400;
  color: rgba(#fff, 0.7);
  display: flex;
  align-items: center;
  gap: 1rem;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}
